/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #fff;
}
/* Link Styles */

a {
  text-decoration: none;
  color: rgb(238, 151, 51);
}
a:hover {
  color: #6633ff;
}

/*****************************
********** NAV ****
*****************************/

.main-nav {
  width: 100%;
  background: rgba(9,9,9,0.5);
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: rgba(245, 243, 243, 0.7);
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}

/*****************************
********** HEADER ****
*****************************/

header {
  text-align: center;
  height: 850px;
  background: linear-gradient(#4eda6c, transparent 90%),
              linear-gradient(0deg,#fff, transparent),
            #ffa949 url('images/regina.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgb(73, 180, 40);
  transition: all 1s;
}
header .profile-image:hover {
  transform: scale(0.9) rotate(360deg);
}

/*****************************
********** OTHER EDITS ****
*****************************/

 .prof-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 2px;
}
.tag,
.location {
  color: black;
  display: table;
  margin: 10px auto;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  color: #fff;
  background: #222;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #4a3986;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
/*****************************
********** FAMILY SECTION ****
*****************************/

.fam-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;   
}
.my-fam {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(229, 233, 238, 0.9);
  background: #222;
  height: 500px;
  width: 600px;
  margin-top: 8em;
  border-top: 20px solid #0399ff; 
  transition: all 2s;
  border-radius: 10px;
  justify-content: space-around;
}
.my-fam h3 { 
  display: block;
  margin-top: 200px;
  font-size: 30px;
}
.my-fam:hover {
  height: 500px;
  background: url(images/myfam.jpg) 
              no-repeat  center;     
  box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 1);       
}
.kiki-sec {
  display: block;  
  margin-left: auto;
  margin-right:  auto;
  height: 500px;
  width: 80%;
  margin-top: 100px;
}

.kiki { 
  margin-top: 50px;
  float: left;
  height: 400px;
  width: 400px;
}
.about-kiki {
  float: right;
  margin-top: 120px;
  margin-right: 140px;
  color: #000;
  width: 40%;
  padding: 45px;
}

/*****************************
********** Experience HTML ****
*****************************/

/* Experience Layout */
.exp-container {  
  height: 100%;
  max-width: 70%;
  margin: auto;
}
/* Experience Edits */
.exp-title {
  margin: 40px 100px;  
  padding: 30px;
  color: #000;
  
}
.exp-story {
  font-size: 1.4em;
  line-height: 1.2;
  padding: 30px 20px 15px;
  margin: auto;
  color: #000;
  width: 80%;
}
.img-experience {  
  height: 60%;
  width: 70%;
}
/*****************************
********** FOOTER ****
*****************************/
footer {
  color: #000;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
/*****************************
********** SOCIAL MEDIA LINKS ****
*****************************/
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* Styles for larger screens */
@media (min-width: 1020px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  

}

